[defaults]
inventory          = inventory/hosts.ini
remote_user        = vollmin
private_key_file   = ~/.ssh/ansible_k8s_ed25519
host_key_checking  = False
stdout_callback    = yaml
retry_files_enabled = False

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o ForwardAgent=no
pipelining = True
